<!doctype html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<!------ Include the above in your HEAD tag ---------->
<div class="page-wrap"></div>
<div class=" d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="mb-4 lead">The page you are looking for was not found.</div>
                <a href="{% url 'index' %}" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>