<!doctype html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% load static %}
    {% load crispy_forms_tags %}
    {% load fontawesome %}
{% fontawesome_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Email Form</title>


</head>
<body>

<div class="container">
    <div class ="emailtopdiv"></div>
	<div class="row justify-content-center">
		<div class="col-12 col-md-8 col-lg-6 pb-5">
                    <!--Form with header-->
                    <form method="post" action="{% url 'sendmail' normalid %} " enctype="multipart/form-data">
                         {% csrf_token %}
                        <div class="card border-primary rounded-0">
                            <div class="card-header p-0">
                                <div class="bg-info text-white text-center py-2">
                                    <h3> Mass Mailing List</h3>
                                </div>
                            </div>
                            <div class="card-body p-3">
                                <!--Body-->
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                        </div>
                                <input type="text" name="subject" maxlength="100" class="textinput textInput form-control" required="" id="id_subject" placeholder="header...">
                                    </div>
                                </div>

                                 <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                        </div>
                                                <input type="file" name="pdf">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                        </div>
                                            <textarea name="body" cols="30" rows="10" class="textarea form-control" required="" id="id_body">Dear Sir/Madam,</textarea>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <input type="submit" value="Send Email" class="btn btn-info btn-block rounded-0 py-2">
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--Form with header-->
                </div>
	</div>
</div>

</body>
</html>