<!doctype html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Email Form</title>


</head>
<body>
 <div class="container">
        <div class="row form-sizer">
            <div class="col-3"></div>
                <div class="col-6">
                 <form method="post" action="{% url 'sendmail' %}" >
                        {% csrf_token %}
                            {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Send email</button>
                 </form>
                 </div>
            <div class="col-3"></div>
        </div>
 </div>




</body>
</html>