<!doctype html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="32x32" href="media/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="media/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="media/favicon-16x16.png">
    <link rel="manifest" href="media/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Index page</title>
</head>
<body>

 <div class="container">
        <div class="row" >
            <div class="col-3"></div>
                <div class="col-6  ">
                  <form id="demoForm" class="text-center border border-light p-5" method="post" action="{% url 'index' %} " >
                       {% csrf_token %}
                        <p class="h4 mb-4">Enter Website URL</p>
                        <!-- Email -->
                        <textarea data-validation="url" name="csvdump" cols="20" rows="10" placeholder="insert website..." class="textarea form-control" required="" id="id_csvdump"></textarea>
                      <!-- Sign in button -->
                        <button class="btn btn-info btn-block my-4" type="submit">Extract Email</button>
                  </form>
                 </div>
            <div class="col-3"></div>
        </div>
 </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
  $.validate({
    lang: 'en'
  });
</script>

</body>
</html>
